:root.theme-dark {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --title-decor-bg: #ff0070;
  --title-decor-color: #000028;
  --cover-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --corner-color: #ff0070;
  --hover-border-color: rgba(241, 178, 206, 0.4);
  --button-hover-border: rgba(241, 178, 206, 0.4);
}
